<link rel="stylesheet" href="/css/styles.css">
<body>
  <div id="montanha">
    <div id="skier"></div>
  </div>
  <div id="placar" >
    <div id="distancia">0</div>
    <div id="vida">3</div>
  </div>
<script src="/js/script.js"></script>

