<div class="container">
    <h3>Ranking</h3>

            <table class="table" >
                <thead>
                    <tr>
                        <th>Usuário</th>
                        <th>Pontuação</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each partidas}}
                        <tr>
                            <td>{{usuarioId}}</td>
                            <td>{{pontuacao}}</td>
                        </tr>
                    {{/each}}
                </tbody>
                </table>
            


</div>
