<div class="container" style="margin-top: 200px;">
    <div class="row">
        <div class="col-6">
            <div id="montanha">
                <div id="skier"></div>
            </div>
        </div>
        <div class="col-6">
            <div id="painel">
                <div id="distancia"></div>
                <div id="vida"></div>
            </div>
        </div>
    </div>
</div>

